.photo-grid {
    padding: 92px 3.5% 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    width: 93%;
    overflow: hidden;
    gap: 16px;
}

@media  screen and (max-width:1280px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }


}

@media  screen and (max-width:1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }


}

@media  screen and (max-width:768px){
  .photo-grid {
    grid-template-columns: 1fr;
  }

}
