.places {
  max-width: 77%;
  padding: 92px 11.5% 0;

}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 93%;
    padding: 92px 3.5% 0;
  }

}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 93%;
    padding: 88px 3.5% 0;
  }

}

@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
    padding: 64px 0 0 0;
  }
}
