.lead {
  width: 77%;
  padding: 56px 11.5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:1024px) {
  .lead {
    width: 93%;
    padding: 56px 3.5% 0;

  }
}
