.cover__subtitle {
  min-height: 66px;
  max-width: 360px;
  margin: 32px 0 0 0;
  text-align: center;
  font-size: 18px;
  line-height: 122%;
  font-weight: 400;
  z-index: 50;
}

@media screen and (max-width: 640px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 114%;
    margin-top: 16px;
  }
}
