.intro {
  padding: 92px 148px 0;
  width: calc(100% - 148px * 2);
}

@media screen and (max-width: 1279px) {
  .intro {
    padding: 92px 48px 0;
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: calc(100% - 48px);
    padding: 92px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 16px 0;
    width: calc(100% - 32px);
  }
}
