.lead__subtitle {
  margin: 0 0 64px 0;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  max-width: 640px;
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
    font-size: 30px;
    margin: 0 0 56px 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    padding: 0 16px 0;
    font-size: 25px;
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    font-size: 16px;
  }
}
