.cover {
  width: 93%;
  max-width: 1280px;
  padding: 92px 3.5%;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .cover {
    padding-top: 90px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 100%;
    padding: 66px 0 64px;
  }
}


