.cover__title {
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  z-index: 50;
  max-width: 560px;
  text-align: center;
  margin: 245px 0 0;
}

@media screen and (max-width:1279px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    margin-top: 33px;
  }
}