.places__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .places__website {
    max-width: 93%;
    padding: 0 3.5%;
  }
}
