.places__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .places__website {
    max-width: calc(100% - 32px);
    padding: 0 16px;
  }
}
